<extend name="Public/base" />
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>健康知识管理 - {:(isset($detail['id'])?'编辑':'新增')}健康知识</legend>
        <div class="layui-field-box">
            <form class="layui-form" action="" id="health_form">
                <if condition="isset($detail['id'])">
                    <input type="hidden" name="id" value="{$detail['id']}">
                </if>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 题干</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required value="{:(isset($detail['title'])?$detail['title']:'')}" lay-verify="required" placeholder="请输入题干" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 类型</label>
                    <div class="layui-input-block">
                        <select name="healthtype" id="hua" lay-verify="">
                           
							<volist name="typelist" id="vo">
                                <option value="{$vo[id]}" {:($detail['healthtype'] == $vo['id']?'selected':'')}>{$vo['healthname']}</option>
                            </volist>

                        </select>
                    </div>
                </div>
				
               
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">发布人</label>
                    <div class="layui-input-block">
                        <input type="text" name="adduser" value="{:(isset($detail['adduser'])?$detail['adduser']:'')}" placeholder="请输入发布人" class="layui-input">
                    </div>
                </div>
                
				<div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 得分制度</label>
                    <div class="layui-input-block">
                        <select name="ifcontrary" lay-verify="">
                           
							<option value="0">相同<option/>
							<option value="1">相反<option/>

                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</block>
<block name="myScript">
    <if condition="isset($detail['id'])">
        <script>
            layui.use('form', function(){
                var form = layui.form();
                form.on('submit(admin-form)', function(data){
                    $.ajax({
                        type: "POST",
                        url: '{:U("edit")}',
                        data: data.field,
                        success: function(msg){
                            if( msg.code == 1 ){
                                parent.location.reload();
                            }else{
                                parent.layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                    return false;
                });

            });
        </script>
        <else />
        <script>
            layui.use('form', function(){
                var form = layui.form();
                form.on('submit(admin-form)', function(data){
                    $.ajax({
                        type: "POST",
                        url: '{:U("add")}',
                        data: data.field,
                        success: function(msg){
                            if( msg.code == 1 ){
                                parent.location.reload();
                            }else{
                                parent.layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                    return false;
                });

            });
        </script>
    </if>
</block>